@font-face {
  font-family: Abadi MT Condensed;
}
body {
  background-color: #bbbbbb;
  overflow: hidden;
}

.outer-wrapper {
  position: relative;
  height: 200px;
}

.wrapper {
  position: absolute;
  top: 100%;
  left: 10%;
  width: 1600px;
  margin-left: -100px;
  font-family: Abadi MT Condensed;
  text-align: left;
  color: #fff;
  animation: 8s credits linear infinite;
  animation-delay: 1s;
}

.video_title {
  margin-bottom: 50px;
  font-size: 80px;
  text-shadow: 2px 2px #878787;
  letter-spacing: 0px;
  text-outline: #304345;
  text-decoration: none;
}

.job_title {
  margin-bottom: 5px;
  font-size: 30px;
  text-shadow: 2px 2px #878787;
}
.person_name {
  font-size: 25px;
  margin-bottom: 20px;
  text-shadow: 2px 2px #878787;
}

@keyframes credits {
  0% {
    top: 100%;
  }
  100% {
    top: -500%;
  }
}
